@{
    ViewData["Title"] = "Home Page";
}
home
<div class="text-center">
    <h1 class="display-4">Welcome Ap</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


