@model IEnumerable<ColaProject.Models.Supervisers>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <h2>Supervisers</h2>

    <p>
        <a href="/Supervisers/Create" class="btn btn-success">
            <i class="fa fa-plus"></i> Add New
        </a>
    </p>

    <div class="card">
        <!-- /.card-header -->
        <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>

                        <th>Superviser ID</th>
                        <th>Superviser Name</th>
                        <th>Status</th>


                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>@Html.DisplayFor(modelItem => item.SuperviserId)</td>
                            <td>@Html.DisplayFor(modelItem => item.SuperviserName)</td>
                            <td>@Html.DisplayFor(modelItem => item.SuperviserStatus)</td>


                            <td>
                                <div class="btn-group btn-group-sm">
                                    <a asp-action="Edit" asp-route-id="@item.SuperviserId" class="btn btn-warning" title="Edit">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
    $(function () {
        $("#example1").DataTable({
            "responsive": true,
            "lengthChange": false,
            "autoWidth": false,
            "paging": true,
            "buttons": ["copy", "csv", "excel", "pdf", "print"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    });

    </script>
}

